[grid]
nx = 400
ny = 800
nz = 800
delta_x = 5e-9
delta_y = 10e-9
delta_z = 10e-9
tsteps = 157000
dt=9.5263e-18
pml_thickness = 150
pml_reflection = 1e-6
output_interval=100
output_component =Ex
output_slice_axis=x
output_slice_position = 201

source type=dipole, x=220,y=400,z=400, amplitude=1.0,wavenumber=800, component=z, t0=0.2e-12, tau=0.05e-12

[medium]

# Cube-shaped media
cubes = [    {"xrange": (161, 200), "yrange": (0, 799), "zrange": (0, 799), "material": 4},{"xrange": (0, 160), "yrange": (0, 799), "zrange": (0, 799), "material": 1}]

# For this MoO3 data set the x axis is [100]
material   id=4, name=MoO3, natom=16, born=OUTCAR.txt,QeZV=QeZV_clean.txt,QeZM=QeZM_clean.txt,DMM=DMM_clean.txt,anglex=0.0,switchxz=1
#material   id=6, name=metal,use_ADE=1,eps_xx=-3000,eps_xy=0,eps_xz=0,eps_yx=0,eps_yy=-3000,eps_yz=0,eps_zx=0,eps_zy=0,eps_zz=-3000,eps_xxi=1500,eps_xyi=0,eps_xzi=0,eps_yxi=0,eps_yyi=1500,eps_yzi=0,eps_zxi=0,eps_zyi=0,eps_zzi=1500
#material   id=5, name=Lorentz_MoO3,dielectric=dielectric_MoO3_Lorentz.txt,use_ADE=1,anglex=0,switchxz=1
medium_file =./medium_map.bin
monitor_point = x=200,y=400,z=400,atom=0,dir=x
monitor_output_file =monitor_point.dat
